@{  
    Layout = "~/Views/Shared/_Layout_2.cshtml";
    ViewData["Title"] = "Log in";
    ViewData["Action"] = "DoLogin";
    ViewData["Submit"] = "Iniciar Sessão";
    ViewData["SubmitTabIndex"] = 4;
    ViewData["Extra"] = "Esqueci minha senha";
    ViewData["ExtraTabIndex"] = 5;
}

<div id="login-form" class="user-form">
    <div class="text-input">
        <label for="email">Email</label>
        <input class="input-element" type="email" name="email" id="email" tabindex="1" autofocus required>
    </div>
    <div class="text-input">
        <label for="password">Senha</label>
        <input class="input-element" type="password" name="password" id="password" tabindex="2" required>
    </div>
    <div class="checkbox-input">
        <label for="remember" tabindex="3"> Mantenha-me conectado</label>
        <input type="checkbox" name="remember" id="remember" class="sc-gJwTLC checkbox-element input-element" checked>
    </div>
</div>

<script>
    isRegister = false
    inputCount = 0
    nextCount = 0
</script>