@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
    ViewData["Title"] = "Cadastro";
    ViewData["Action"] = "DoPartnerRegister";
    ViewData["Submit"] = "Próximo";
    ViewData["SubmitTabIndex"] = 11;
    ViewData["Extra"] = "";
    ViewData["ExtraController"] = "";
    ViewData["ExtraAction"] = "";
    ViewData["ExtraTabIndex"] = -1;
    ViewData["HideSubmit"] = "";
}

<div id="register-user-form" class="user-form">

    <div class="user-input text-input display-4">
        <label for="CpfParceiro">CPF</label>
        <input class="input-element" type="text" name="CpfParceiro" id="cpf" tabindex="1" required>
    </div>
    <div class="user-input text-input display-4">
        <label for="NomeParceiro">Nome</label>
        <input class="input-element" type="text" name="NomeParceiro" id="nome" tabindex="2" required>
    </div>

    <div class="user-input text-input display-3 hidden">
        <label for="EmailParceiro">Email</label>
        <input class="email input-element" type="email" name="EmailParceiro" id="email" tabindex="3">
    </div>
    <div class="user-input text-input display-3 hidden">
        <label for="email-confirm">Confirmar o email</label>
        <input class="email input-element" type="email" id="email-confirm" tabindex="4">
    </div>
    
    <div class="user-input text-input display-2 hidden">
        <label for="CepParceiro">Cep</label>
        <input class="input-element smallest-height" type="text" name="CepParceiro" id="cep" tabindex="5">
    </div>
    <div class="two-boxes">
        <div class="user-input text-input large-textbox display-2 hidden">
            <label for="LogradouroParceiro">Logradouro</label>
            <input class="input-element smallest-height" type="text" name="LogradouroParceiro" id="logradouro" tabindex="-1" disabled>
        </div>
        <div class="user-input text-input small-textbox display-2 hidden">
            <label for="numero-logradouro">Número</label>
            <input class="input-element smallest-height " type="text" name="numero-logradouro" id="numero" tabindex="6">
        </div>
    </div>
    <div class="user-input text-input display-2 hidden">
        <label for="ComplementoParceiro">Complemento</label>
        <input class="input-element smallest-height" type="text" name="ComplementoParceiro" id="complemento" tabindex="7">
    </div>
    <div class="two-boxes">
        <div class="user-input text-input large-textbox display-2 hidden"> @* não irá pra DB *@
            <label for="cidade">Cidade</label>
            <input class="input-element smallest-height" type="text" name="cidade" id="cidade" tabindex="-1" disabled>
        </div>
        <div class="user-input text-input display-2 hidden small-textbox"> @* não irá pra DB *@
            <label for="estado">Estado</label>
            <input class="input-element smallest-height" type="text" name="estado" id="estado" tabindex="-1" disabled>
        </div>
    </div>

    <div class="user-input text-input display-1 hidden">
        <label for="SenhaParceiro">Senha</label>
        <input class="password input-element" type="password" name="SenhaParceiro" id="password" tabindex="8">
    </div>
        <div class="user-input text-input display-1 hidden">
        <label for="password-confirm">Confirmar senha</label>
        <input class="password input-element" type="password" id="password-confirm" tabindex="9">
    </div>
    <div class="user-input checkbox-input display-1 hidden">
        <label for="terms" tabindex="10"> Concordo com os termos de uso e política de privacidade</label>
        <input type="checkbox" name="terms" id="terms" class="sc-gJwTLC checkbox-element input-element">
    </div>
</div>

<script>
    isRegister = true
    inputCount = 12
    nextCount = 3
</script>