/* styles for the footer buttons */

/* configuration for the span tag that will contain the button added via JS */
#footer-add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styles for both the buttons */
#footer-add a {
    transition: all 100ms ease-in;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 700;
    text-decoration: none;

    border-radius: 50px;
    margin: 8px;
    width: 210px;
    height: 80px;

    background-color: #D0FF00;
    color: #60A640;
}
#footer-add a:hover {
    transition: all 100ms ease-in;

    background-color: #fff;
    color: #60A640;
}
/* styles for the text inside the buttons */
#footer-add h3 {
    font-size: 25px;
    font-weight: 200;
    color: #fff;
}

/* styles for the image at the top of the page */
#top-container {
    display: flex;
    justify-content: center;
}
#index-img {
    width: 80%;
}

/******** DISCARDED CODE ********/
/* might get deleted eventually */

/* h2 {
    line-height: 0.9;
    color: #77B255;

    text-shadow: 3px 3px 10px #c0c0c0;
}

#h2-1 {
    font-size: 90px;
    font-weight: 100;
}
#h2-2 {
    font-size: 200px;
    font-weight: 800;
}
#h2-3 {
    font-size: 72px;
    font-weight: 800;
} 

#index-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#index-top h3 {
    font-size: 35px;
    font-weight: 200;
} */

/***** END OF DISCARDED CODE ****/

/* styles for the page content */

/* main div configs */
#como-funciona {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* styles for the title */
#como-funciona h3 {
    color: #77B255;
    font-size: 46px;
}

/* content div configs */
#como-funciona-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* cellphone imgage */
#como-funciona-content img {
    margin-right: 8%;
    max-height: 90vh;
}

/* content sections styles */
.como-funciona-section {
    display: flex;
    align-items: center;
    width: 800px;
}
/* number */
.numb-display {
    margin: 0 20px 0 0;
    font-size: 300px;
    color: #77B255;
    font-weight: 800;
}
/* text (both paragraph and subtitle) */
.como-funciona-p p {
    font-size: 32px;
    font-weight: 300;
}
/* subtitle */
.como-funciona-p h4 {
    font-size: 54px;
    font-weight: 200;
    color: #77B255;
    margin: 0;
}
