/* background styles */
body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #4FC54C, #333F8D);
}

/* main tag configuration */
main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* logo styles */
h1 {
    width: 100%;
    display: flex;
    justify-content: center;
} h1 a {
    width: 40%;
    height: auto;
} #main-logo {
    margin-top: 40px;
    width: 100%;
}

/* withe box div containing the content */
#fields {
    transition: all 300ms ease-in;

    max-width: 550px;
    min-height: 300px;

    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 255);
    border-radius: 40px;
    background-color: #fff;
}
/* #fields:hover {
    transition: all 300ms ease-in;

    box-shadow: 0 0 15px -3px;
} */

/* footer */
footer {
    position: fixed;
    bottom: 0;

    width: 100%;
} footer div {
    display: flex;
    justify-content: center;

    width: 100%;
} footer div h6 {
    margin: 0 10px 10px 10px;
    color: #fff;
    font-weight: 200;
}

/****** RenderBody styles :) ******/

/* styles for the subtitle */
h2 {
    margin-top: 40px;

    font-size: 38px;
    color: #77B255;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styles for the submit button */
#submit-button {
    transition: all 200ms ease-in;
    
    padding: 25px 22% 25px 22%;
    margin-bottom: 40px;

    border-style: none;
    border-radius: 10px;
    
    background-color: #77B255;

    color: #fff;
    font-size: 26px;
    font-weight: 300;
} #submit-button:hover {
    transition: all 200ms ease-in;

    background-color: #8ec96d;

    box-shadow: 0 0 10px -2px #77B255;
    cursor: pointer;
}