@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}


body {
    margin: 0; /* margin set to 0 to make content fill the entire screen */
}

main {
    margin: 0 8vw 0 8vw;
}

#top-img {
    width: 100%;
    margin-top: 40px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-section {
    width: 70%;
    text-align: center;
}
.section-subtitle-light {
    font-size: 42px;
    font-weight: 300;
    color: #77B255;
}
.section-subtitle-bold {
    font-size: 42px;
    font-weight: 800;
    color: #77B255;
}
.section-paragraph, .section-list {
    font-size: 26px;
    font-weight: 300;
    margin: 40px;
}
.section-list {
    list-style: none;
}
.section-list li {
    margin-bottom: 20px;
}