@{
    ViewData["Title"] = "Área do usuário";
}
<script>
    var restricao = "usuario"
</script>

@* <div class="grid">
    <section class="content-section">
        <h2 class="section-subtitle-bold">Você não possui acesso a essa página!</h2>
        <p class="section-paragraph">
            Para conseguir acesso a esta página, faça login na sua conta.
        </p>
        <p class="section-paragraph">
            Caso não possua uma conta, você pode facilmente realizar o cadastro como usuário, parceiro ou comprador.
        </p>
    </section>
    <br><br><br><br>
    <section style="display: flex; justify-content: space-around;">
        <div class="generic-button">
            <a href='/User/'> Cadastrar-se </a>
        </div>
        <div class="generic-button">
            <a href='/User/Login'> Entrar </a>
        </div>
    </section>
</div> *@