@{
    ViewData["Title"] = "Área do usuário";
}

<script>
    var restricao = "usuario"
</script>

<div class="grid">
    <h2 class="section-subtitle-bold">Área do usuário</h2>
    <section class="content-section">
        <h2 class="section-subtitle-bold">Resumo</h2>
        <ul class="widelist">
            <li class="widelist-item">
                <img src="~/images/coroa.png" alt="" class="widelist-img">
                <div class="widelist-text-container">
                    <h4 class="widelist-small">Pontos</h4>
                    <h3 class="widelist-label">@* DB PontosClientes *@</h3>
                </div>
            </li>
            <li class="widelist-item">
                <img src="~/images/cubo.png" alt="" class="widelist-img">
                <div class="widelist-text-container">
                    <h4 class="widelist-small">Itens descartados</h4>
                    <h3 class="widelist-label">@* DB ItensDescartados *@</h3>
                </div>
            </li>
        </ul>
    </section>
    <section class="content-section">
        <h2 class="section-subtitle-bold">Informações de cadastro</h2>
        <div class="edit-button" onclick="editToggle()">
            <img src="~/images/editar.png" alt="Ícone de um lápis">
        </div>
        <form class="generic-form" action=""> 
            <div class="text-input">
                <label for="NomeCliente">Nome</label>
                <input class="form-input" type="text" name="NomeCliente" value="@* DB NomeCliente *@" disabled>
            </div>
            <div class="text-input">
                <label for="EmailCliente">Email</label>
                <input class="form-input" type="email" name="EmailCliente" value="@* DB EmailCliente *@" disabled>
            </div>
            <div class="text-input">
                <label for="CpfCliente">CPF</label>
                <input class="form-input" type="text" name="CpfCliente" value="@* DB CpfCliente *@" disabled>
            </div>
            <div class="text-input">
                <label for="SenhaCliente">Senha</label>
                <input class="form-input" type="text" name="SenhaCliente" value="@* DB SenhaCliente *@" disabled>
            </div>
            <div class="text-input">
                <label for="CepCliente">CEP</label>
                <input class="form-input" type="text" name="CepCliente" value="@* DB CepCliente *@" disabled>
            </div>
            <div class="text-input">
                <label for="LogradouroCliente">Logradouro</label>
                <input class="form-input" type="text" name="LogradouroCliente" value="@* DB LogradouroCliente *@" disabled>
            </div>
            <div class="text-input">
                <label for="ComplementoCliente">Complemento</label>
                <input class="form-input" type="text" name="ComplementoCliente" value="@* DB ComplementoCliente *@" disabled>
            </div>
            <input type="submit" class="form-submit" value="Confirmar" disabled>
        </form>
    </section>
    <section style="margin: 50px;">
        <div class="generic-button" id="delete">
            <a href=''> Apagar cadastro </a>
        </div>
    </section>
</div>

<script src="~/js/enableForm.js" asp-append-version="true"></script>