@{
    ViewData["Title"] = "Quem somos";
}

<div class="grid">
    <section class="content-section">
        <h2 class="section-subtitle-bold">Nossos produtos</h2>
        <ul class="widelist">
            <li class="widelist-item">
                <img src="~/images/adaptador.png" alt="" class="widelist-img">
                <h3 class="widelist-label">Adaptadores</h3>
            </li>
            <li class="widelist-item">
                <img src="~/images/adaptador.png" alt="" class="widelist-img">
                <h3 class="widelist-label">Cabos</h3>
            </li>
            <li class="widelist-item">
                <img src="~/images/adaptador.png" alt="" class="widelist-img">
                <h3 class="widelist-label">Celulares</h3>
            </li>
            <li class="widelist-item">
                <img src="~/images/adaptador.png" alt="" class="widelist-img">
                <h3 class="widelist-label">Câmeras</h3>
            </li>
            <li class="widelist-item">
                <img src="~/images/adaptador.png" alt="" class="widelist-img">
                <h3 class="widelist-label">Componentes</h3>
            </li>
            <li class="widelist-item">
                <img src="~/images/adaptador.png" alt="" class="widelist-img">
                <h3 class="widelist-label">E mais...</h3>
            </li>
        </ul>
    </section>
</div>