@{
    ViewData["Title"] = "Quem somos";
}

<div class="grid">
    <section class="content-section">
        <h2 class="section-subtitle-bold">Nossos produtos</h2>
        <ul class="widelist">
            <li class="widelist-item">
                <img src="~/images/adaptador.png" alt="" class="widelist-img">
                <h3 class="widelist-label">Adaptadores</h3>
            </li>
            <li class="widelist-item">
                <img src="~/images/cabo.png" alt="" class="widelist-img">
                <h3 class="widelist-label">Cabos</h3>
            </li>
            <li class="widelist-item">
                <img src="~/images/celular.png" alt="" class="widelist-img">
                <h3 class="widelist-label">Celulares</h3>
            </li>
            <li class="widelist-item">
                <img src="~/images/camera-fotografica.png" alt="" class="widelist-img">
                <h3 class="widelist-label">Câmeras</h3>
            </li>
            <li class="widelist-item">
                <img src="~/images/cpu.png" alt="" class="widelist-img">
                <h3 class="widelist-label">Componentes</h3>
            </li>
            <li class="widelist-item">
                <img src="~/images/cubo.png" alt="" class="widelist-img">
                <h3 class="widelist-label">E mais...</h3>
            </li>
        </ul>
    </section>
    <section class="content-section">
        <h2 class="section-subtitle-bold">Qualidade garantida</h2>
        <p class="section-paragraph">
            Nossos produtos são testados diversas vezes antes de serem enviados, para garantir que os nossos compradores possam confiar na qualidade das mercadorias.
        </p>
    </section>
    <section>
        <div class="generic-button">
            <a href='/User/BuyerRegister'> Torne-se comprador </a>
        </div>
    </section>
</div>