@{
    ViewData["Title"] = "Quem somos";
}
<asp:content contentplaceholderid="head" runat="server">
    <link rel="stylesheet" href="~/css/quemSomos.css" asp-append-version="true" />
</asp:content>

<div class="grid">
    <section class="content-section">
        <p class="section-paragraph">
            Sabia que se você possui um estabelecimento comercial, você pode cadastrar o seu negócio para ser um ponto de coleta também?
        </p>
        <p class="section-paragraph">
            Confira abaixo alguns motivos para você ser um parceiro da E-Saving!
        </p>
    </section>
    <section class="content-section">
        <h2 class="section-subtitle-bold">Vantagens para o seu negócio</h2>
        <p class="section-paragraph">
            Ao ser parceiro da E-Saving, o seu estabelecimento aparecerá para os usuários no mapa de pontos de coleta. Dessa forma, o seu negócio ganha visibilidade enquanto ajuda o meio ambiente.
        </p>
    </section>
</div>